# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Credenciais
.env
*.key

# Dados
*.csv
*.xlsx
*.zip

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store